<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">

<body>

	<h2 layout:fragment="header" class="page-header">Login</h2>

	<div layout:fragment="content" class="form-login">
		
		<div  th:if="${param.error}" class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<strong>Erro: </strong>
			<span>Falha de login.</span>
		</div>
	
		<form name="form" th:action="@{/login}" action="/login" method="POST">
		
			<div class="form-group">
				<label for="username">Usuário</label>			
				<input type="text" id="username" name="username" th:class="form-control"/>
			</div>
				
			<div class="form-group">
				<label for="password">Password</label> 
				<input type="password" id="password" name="password" th:class="form-control"/>
			</div>
			
			<input type="submit" id="login" value="Login" class="btn btn-primary"/>
			
		</form>

	</div>
</body>
</html>
