<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">

<body>

	<h2 layout:fragment="header" class="page-header">Visualisar registro</h2>

	<div layout:fragment="content">

		<div th:if="${inscricao == null}">
			<span>Registro <b th:text="${id}"></b> não encontrado.</span>
		</div>
		
		<div th:if="${inscricao != null}">
			<table class="table table-bordered">
				<tr>
					<td><label for="id">Id</label></td>
					<td><span id="id" th:text="${inscricao.id}"></span></td>
				</tr>
				<tr>
					<td><label for="nome">Nome</label></td>
					<td><span id="nome" th:text="${inscricao.nome}"></span></td>
				</tr>
				<tr>
					<td><label for="email">Email</label></td>
					<td><span id="email" th:text="${inscricao.email}"></span></td>
				</tr>
				<tr>
					<td><label for="idade">Idade</label></td>
					<td><span id="idade" th:text="${inscricao.idade}"></span></td>
				</tr>
				<tr>
					<td><label for="situacao">Situação</label></td>
					<td><span id="situacao" th:text="${inscricao.situacao.descricao}"></span></td>
				</tr>
			</table>
		</div>

	</div>
	
</body>
</html>