<div class="jumbotron">
	<h2>Esta eh sua home page. </h2>
	<p class="lead">
		Este exemplo foi baseado em:
		<ul>
			<li>
				<a href="http://spring.io/guides/gs/spring-boot" target="_blank">Guia Spring Boot</a>
				Tecnologia de Backend.
			</li>
			<li>
				<a href="http://www.baeldung.com/rest-api-spring-oauth2-angularjs" target="_blank">Baeldung Blog</a>
				Tutorial :: Autenticação em Oauth2.
			</li>
			<li>
				<a href="http://yeoman.io/" target="_blank">Yeoman</a>
				THE WEB'S SCAFFOLDING TOOL FOR MODERN WEBAPPS
			</li>
			<li>
				<a href="https://github.com/yeoman/generator-angular" target="_blank">AngularJS generator</a>
				Scaffolding
			</li>
		</ul>
	</p>
</div>


<p class="logo-frontpage">
	<img src="/images/springboot.png" alt="Spring Boot Logo">
	<img src="/images/yeoman.png" alt="Yeoman Logo">
	<img src="/images/angularjs.png	" alt="AngularJs Logo">

	<img src="/images/bower.svg	" alt="Bower Logo">
	<img src="/images/grunt.png	" alt="GruntJs Logo">

</p>
