<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">

	<body>
	
		<h2 layout:fragment="header" class="page-header">Lista de inscrições</h2>
	
		<div layout:fragment="content">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Email</th>
						<th>Idade</th>
						<th>Situação</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tbody>
					
					<tr th:if="${inscricoes.empty}">
						<td colspan="6">
							<span>Sem inscrições para exibir</span>
						</td>
					</tr>
					
					<tr th:each="inscricao : ${inscricoes}">
						<td>
							<a th:href="@{'/formulario/visualizar/' + ${inscricao.id}}" th:text="${inscricao.id}"></a>
						</td>
					
						<td th:text="${inscricao.nome}"></td>
						<td th:text="${inscricao.email}"></td>
						<td th:text="${inscricao.idade}"></td>
						<td th:text="${inscricao.situacao.descricao}"></td>
					
						<td>
							<a th:href="@{'/avaliacao/aprovar/' + ${inscricao.id}}">
								<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
							</a>
							
							<a th:href="@{'/avaliacao/reprovar/' + ${inscricao.id}}">
								<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- <dd id="nome" th:text="${#calendars.format(message.created)}"></dd> -->
		</div>
		
	</body>
</html>